@import "_normalize.scss";

html,
body {
  height: 100%;
}
.layout{
  $hColor:rgb(207, 227, 115);
  $hTop:5px;
  width:1024;
  margin:auto;
  & .layout-head{
    color:$hColor;
    font-size:40px;
    position:relative;
    height:50px;
    background-color:rgb(154, 120, 210);
  }
  & .layout-title{
    position:absolute;
    left:5px;
    top:$hTop;
  }
  & .layout-menu{
    position:absolute;
    right:5px;
    top:$hTop;
  }
  & .layout-foot{
    position:fixed;
    bottom:20px;
    color:$hColor;
  }
}

#root{
  position:fixed;
  top:10px;
  bottom:10px;
  left:0;
  right:0;
  background-color: rgb(0,0,0);
}
.content-container{
  background-color: rgb(212, 190, 199);
}
.pad-style{
  padding:20 0 10 0;
}
h2{
  margin:30;
}
h3{
  margin:40;
}
h4{
  margin:50;
}
.btn{
  border-radius: 20px;
  border:0;
  //margin-right:15px;
  //font-size:25px;
  background-color:rgb(33, 236, 8);
  cursor:pointer;
  color:rgb(0, 0, 0);
  &.disabled{
    background-color: rgb(54, 64, 66);
    color:rgb(138, 152, 144);
  }
}
.icon{
  margin-left:10px;
  margin-right:10px;
}
.nav-item{
  color:rgb(129, 237, 34);
  &.active{
    background-color:rgb(147, 153, 228);
    color:rgb(32, 46, 45);
  }
  &:hover{
    background-color:rgb(208, 191, 215);
    color:rgb(34, 36, 30);
  }
}
